-- Add unique constraints to allow ON CONFLICT upserts on pro_subscriptions
ALTER TABLE public.pro_subscriptions 
ADD CONSTRAINT pro_subscriptions_google_token_unique UNIQUE (google_purchase_token);

ALTER TABLE public.pro_subscriptions 
ADD CONSTRAINT pro_subscriptions_ls_id_unique UNIQUE (ls_subscription_id);

